*{
    box-sizing: border-box;
}


.square{
    border: 2px solid black;
    height: 40px;
    width: 40px;
}

.container, .buttons-container{
    display: flex;
    justify-content: center;
}

.buttons-container{
    margin: 30px 0;
}

.vertical{
    display: flex;
    flex-direction: column;
}

.darkened{
    background-color: black;
}

.buttons-container{
    display: flex;
}